{# templates/ressource/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier la ressource{% endblock %}

{% block body %}
<h1>Modifier la ressource</h1>

{{ form_start(form) }}
    {{ form_row(form.typeR) }}
    {{ form_row(form.nomR) }}
    {{ form_row(form.fileR) }}
    <button type="submit">Modifier</button>
{{ form_end(form) }}

<a href="{{ path('app_ressource_index') }}">Retour à la liste</a>
{% endblock %}
